# Copy this file to .env and add your secret OpenAI API key.
OPENAI_API_KEY=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